<% layout('layouts/boilerplate') -%>
<div class="row">
  <div class="col-6 offset-3">
    <div class="alert alert-danger text-center mt-5" role="alert">
      <h1>Error! <%= err.statusCode %></h1>
      <p><%= err.message %></p>
    </div>
  </div>
</div>
<div class="text-center mt-5">
  <a
    class="link-offset-2 link-underline link-underline-opacity-0 p-3 mb-2 bg-danger text-white"
    href="/wordgame/"
    >Go Back to Front page</a
  >
</div>
