<% layout('layouts/boilerplate') -%>

<div class="container">
  <div class="gameScreen">
    <% if(!winner) { %>
    <h1>GAMEOVER!</h1>
    <% } else { %>
    <h1>WINNER</h1>
    <% } %>
  </div>
</div>
