<% layout('layouts/boilerplate') -%>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="startingScreen">
        <a href="/game" class="btn btn-danger startButton mx-auto mb-3"
          >START GAME</a
        >
      </div>
    </div>
  </div>
</div>
