<% layout('layouts/boilerplate') -%>

<div class="optionScreen">
  <div class="wrapper mb-1">
    <div class="highscore text-center mb-5 mt-3">
      <h1 id="highscore-title">HIGHSCORES</h1>
      <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
    <form action="/wordgame/options" method="POST">
      <div class="player mb-5">
        <div class="form-group mb-3 text-center">
          <label for="playerName">Player Name:</label>
          <input
            type="type"
            class="form-control mx-auto"
            id="playerName"
            name="playerName"
            placeholder="Write your name"
            value="<%= player %>"
            required
          />
        </div>
      </div>
      <div class="letters text-center my-3">
        <h5>Choose how many letters you want in the word:</h5>
        <fieldset>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="letterOptions"
              id="letter4"
              value="4"
              checked
            />
            <label class="form-check-label" for="letter4">4 letters</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="letterOptions"
              id="letter5"
              value="5"
            />
            <label class="form-check-label" for="letter5">5 letters</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="letterOptions"
              id="letter6"
              value="6"
            />
            <label class="form-check-label" for="letter6">6 letters</label>
          </div>
        </fieldset>
      </div>
      <div class="text-center mb-3">
        <button type="submit" class="btn btn-primary">Start Game</button>
      </div>
    </form>
  </div>
</div>
